body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin : 0px;
}

.hide{
    display: none;
}

#post{
    width: 40%;
    min-height: 100px;
    height: fit-content;
    border: 2px solid rgb(83, 81, 81);
    padding: 10px;
    border-radius: 20px;
    position: relative;
    margin-top: 20px;
}

#postTitle{
    display: block;
    border: 2px solid rgb(83, 81, 81);
    font-size: 1.3em;
    border-radius: 20px;
    padding-left: 10px;
    width: 100%;
    border: 2px solid purple;
}

#postText{
    display: block;
    color: black;
    margin-top: 30px;
    height: 250px;
    width: 100%;
    border: 2px solid purple;
    border-radius: 20px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

#header{
    background-color: rgb(214, 157, 226);
    height: 80px;
    width: 100%;
}

#header a{
    color : white;
    position: relative;
    top: 30px;
    margin-right: 20px;
    left: 80vw;
    font-size: 1.3em;
    text-decoration: none;
    z-index: 2;
}

#icon{
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 2;
    font-size: 2.5em;
    background-color: rgb(233, 101, 233);
    height: fit-content;
    width: fit-content;
    border-radius: 15%;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0px 5px 0px 5px;
}



#publish{
    margin-left: 75%;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(233, 101, 233);
    border: 2px solid purple;
    border-radius: 20px;
    padding: 5px;
}


/*ERROR*/
.errorWindow{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    flex-direction: column;
    align-items: center;
    width:50vw;
}
  
  
.warning{
    background-color: rgb(233, 101, 233);
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
    border:2px solid purple;
}
  
.errorWindow p{
    background-color: rgb(224, 202, 221);
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    border:2px solid purple;
    border-top: none;
}


#published{
    font-size: 3em;
    color:rgb(134, 15, 74);
    margin-left: 30%;
    margin-top: 300px;
}

#published_header{
    background-color: rgb(214, 157, 226);
    height: 800px;
    width: 100%;
    position:fixed;
    top: 0px;
    z-index: 1;
}

@media (max-width: 1300px){
    #header a{
        left: 73vw;
    }
}


@media (max-width: 1200px){
    #publish{
        margin-left: 65%;
    }
}

@media (max-width: 1000px){
    body{
        font-size: 0.8em;
    }
}

@media (max-width: 850px){
    #publish{
        margin-left: 60%;
    }
}



@media (max-width: 850px){
    #publish{
        margin-left: 55%;
    }
}